<% div_for comment do %>

  
    <% unless comment.body.length == 0 %>
      <p><u>
      Posted <%= time_ago_in_words(comment.created_at) %>
      ago 
    
      <% unless comment.name.nil? %>
        by  <strong><%= h(comment.name) %></strong>
      <% end %>
    
      <% if logged_in? %>
             <%= link_to 'Delete comment', [@post,comment], :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </u>
      </br>
    
      <p ><%= h(comment.body) %> </p>
      </p><br/>
  
      <% end %>
  <% end %>